[submodule "libs/Android-ViewPagerIndicator"]
	path = libs/Android-ViewPagerIndicator
	url = https://github.com/Lauszus/Android-ViewPagerIndicator.git
[submodule "libs/PhysicaloidLibrary"]
	path = libs/PhysicaloidLibrary
	url = https://github.com/Lauszus/PhysicaloidLibrary.git
